@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: Playfair Display;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  max-width: 500px;
  /* border: 1px solid black; */
}

.home-container {
  background-color: #DBDBF1;
  height: 100vh;
}
.home-text {
  font-size: 32px;
  font-weight: 700;
  text-align: right;
  padding: 30px 30px 0 0;
}

.toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.toolbar-container {
  width: 100%;
  padding: 25px 40px;

  display: flex;
  justify-content: space-between;
}
.active {
  stroke: #202020;
}
.inactive {
  stroke: #a0a0a0;
}